.category {
  width: 100%;
  padding: 32rem 0rem 3rem 0rem;
  background-color: #f7f7f7;
}

.category-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* padding: 5px 0 45px 0; */
}
.category h1 {
  color: #303030;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  display: block;
  margin-bottom: 20px;
}
.category-main .owl-nav button {
  background-color: white !important;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px !important;
}
.category-main .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
  left: -1%;
}
.category-main .owl-nav button.owl-next {
  position: absolute;
  top: 35%;
  right: -1%;
}

.category-image {
  overflow: hidden;
  border-radius: 8px;
}

.category-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 3/2;
  transform: scale(1);
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.category-card img:hover {
  border-radius: 8px;
  transform: scale(1.05);
}

.category-card {
  margin: 10px;
  cursor: pointer;
}
.category-card a{
  text-decoration: none;
  color: black;
}
.category-card p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

@media screen and (min-width: 1200px) {
  .category-main {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 420px) {
  .category {
    width: 100%;
    padding: 37rem 0rem 3rem 0rem;
  }
}
